* {
    padding: 0;
    margin: 0;
}

.section {
    
    height: 800px;
}

.section ul li {
    
    list-style: none;
    float: right;
    padding: 20px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

.section ul li a {
    color: #222;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

.white {
    
    background-color: #e3f2fd;
}

.black {
    
    background-color: #fff;
}

.red {
    
    background-color: #e8f5e9;
}

#header {
    
    width: 100%;
    height: 70px;
    padding: 0 auto;
    background-color: #64b5f6;
    
}

#header2 {
    width: 100%;
    height:70px;
    padding: 0 auto;
    background-color: #4db6ac;
}

#header3 {
    width: 100%;
    height:70px;
    padding: 0 auto;
    background-color: #66bb6a;
}

.titre {
    
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    padding: 20px;
}

.presentation  {
    
    position: relative;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    line-height: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    letter-spacing: 5px;
    top: -100px;
}

#photo {

	 position: relative;
     margin: 0px auto 0 590px;;
	 width: 100px;
	 overflow:hidden;
     border-radius:140px;
    border-radius:140px;
    border-radius:140px;
    width:180px;
    height:180px;
	border:  solid #64b5f6;
 
	

}

audio {
    position: relative;
    float: right;
    top: 450px;
    padding: 20px;
}

.bababa {
    
    position: relative;
    margin-left: 200px;
    top: 50px;
   
}

#titre2 {
   
   font-size: 50px;
   padding: 20px;
    font-family: 'Poiret One', cursive;
}